<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>


  <appSettings>
    <add key="eScript_API_Service"
      value="https://seeasoftware.azurewebsites.net/eScript_X/service.api" />
    <add key="eScript_API_Service_back" value="" />
    <add key="AI_API_Service"
      value="https://seeasoftware.azurewebsites.net/eScript_X/serviceAgentInterface.api" />
    <add key="eScript_Virtual_Path" value="https://seeasoftware.azurewebsites.net/eScript_X/" />
    <!-- Add nginx server IP to Authorized_referrer if necessary -->
    <add key="Authorized_referrer"
      value="4.209.240.78,40.115.100.46,40.115.100.121,40.115.105.188,40.115.103.43,40.115.109.52,40.112.77.214,40.115.99.5,20.166.177.3,20.166.177.97,20.166.177.138,20.54.23.198,20.166.177.185,20.166.177.188,20.166.177.197,20.166.177.209,20.166.177.229,20.166.177.242,20.166.178.18,20.166.178.23,40.85.74.227" />
    <add key="Authorized_referrer_back" value="40.85.74.227" />

    <add key="Authorized_referrer_monitoring" value="" />
    <add key="Version" value="10.1.0.5" />
    <add key="Minimize" value=".min" />
    <add key="Save_Statistics" value="true" />
    <add key="Connection_String_To_MyMaster" value="" />

  </appSettings>

  <system.web>
    <compilation debug="false" strict="false" explicit="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="409600" executionTimeout="3600" />
    <globalization culture="auto:fr-FR" uiCulture="fr" />
    <pages validateRequest="false" />


    <webServices>
      <protocols>
        <remove name="Documentation" />
      </protocols>
      <wsdlHelpGenerator href="doc/Error_BadUrl.htm" />
    </webServices>


    <!-- 
    <sessionState cookieSameSite="None"  cookieless="false" timeout="360"></sessionState>
    <httpCookies sameSite="None" requireSSL="true" />
    -->

    <!-- <sessionState cookieSameSite="None"  cookieless="false" timeout="360" />
    <roleManager cookieRequireSSL="true" /> -->

    <!-- For Http set requireSSL to false -->
    <httpCookies sameSite="None" requireSSL="true" />

  </system.web>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.webServer>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3221225472" />
      </requestFiltering>
    </security>

    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>

    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>

    <staticContent>
      <!-- <clientCache cacheControlMode="UseExpires" httpExpires="Tue, 19 Jan 2038 03:14:07 GMT" /> -->
      <!-- Cached for 1h by default -->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="0.01:00:00" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>

    <handlers>
      <add name="WebSocket_eScriptRun" path="webSocketsEscriptRun.api" verb="*"
        type="eScriptRun.webSocketsEscriptRun.WSHttpHandler" resourceType="Unspecified"
        requireAccess="Script" />
    </handlers>


    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>

  <log4net>
    <appender name="eScript" type="log4net.Appender.RollingFileAppender">
      <file value="logs\\eScriptRun.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="25" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss,fff} [%t] %-5p %c{1} [%x] - %m%n" />
      </layout>
    </appender>
    <logger name="Setup">
      <!-- <level value="DEBUG" /> -->
      <level value="ERROR" />
      <appender-ref ref="eScript" />
    </logger>
    <appender name="eScriptMonitoring" type="log4net.Appender.RollingFileAppender">
      <file value="logs\\Monitoring\\eScriptRun.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="25" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss,fff} [%t] %-5p %c{1} [%x] - %m%n" />
      </layout>
    </appender>
    <logger name="Monitoring">
      <!-- <level value="DEBUG" /> -->
      <level value="ERROR" />
      <appender-ref ref="eScriptMonitoring" />
    </logger>
  </log4net>

  <!-- Cache Nixxis_eScript.js for 5min -->
  <location path="Script/Nixxis/Nixxis_eScript.js">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="0.00:10:00" />
      </staticContent>
    </system.webServer>
  </location>

  <!-- Cache nixxis.config.json for 1h -->
  <location path="Nixxis/nixxis.config.json">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="0.01:00:00" />
      </staticContent>
    </system.webServer>
  </location>

</configuration>